<div class="row p-3" style="background-color: cadetblue;margin-bottom: 10px">
  <div class="col-sm-2">
    <img src="assets/img/ecommerce.png" height="50" width="50">
  </div>
  <div class="col-sm-6">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>Gestion des Conges</mat-chip>
    </mat-chip-list>
  </div>
  <div class="col-sm-4 pb-1" style="text-align: right; height: 50px">
    <button mat-fab disabled aria-label="Example icon button with a heart icon"
            style="cursor: pointer">
      <mat-icon style="color: #fff" (click)="logOut()">logout</mat-icon>
    </button>
  </div>
</div>
