   
      <!--**********************************
          Sidebar start
      ***********************************-->
      <div class="dlabnav">
        <div class="dlabnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="la la-home"></i>
          <span class="nav-text">Dashboard</span>
        </a>
                    <ul aria-expanded="false">
                        <li><a href="index.html">Dashboard 1</a></li>
                        <li><a href="index-2.html">Dashboard 2</a></li>
                        <li><a href="index-3.html">Dashboard 3</a></li>
                    </ul>
                </li>
      <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
        <i class="la la-calendar"></i>
          <span class="nav-text">Congés</span>
        </a>
                    <ul aria-expanded="false">
                        <li><a href="all-Congés.html">All Congés</a></li>
                        <li><a href="add-Congé.html">Add Congés</a></li>
                        <li><a href="edit-Congé.html">Edit Congés</a></li>
                    </ul>
                </li>
      <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Emploiyees</span>
        </a>
                    <ul aria-expanded="false">
                        <li><a href="all-students.html">All Emploiyees</a></li>
                        <li><a href="add-student.html">Add Emploiyees</a></li>
                        <li><a href="edit-student.html">Edit Emploiyees</a></li>
                        <li><a href="about-student.html">About Emploiyees</a></li>
                    </ul>
                </li>

      <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="la la-book"></i>
          <span class="nav-text">Type des congés</span>
        </a>
                    <ul aria-expanded="false">
                        <li><a href="all-Type des congés.html">All Type des congés</a></li>
                        <li><a href="add-Type des congés.html">Add Type des congés</a></li>
                        <li><a href="edit-Type des congés.html">Edit Type des congés</a></li>
                    </ul>
                </li>
      <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="la la-building"></i>
          <span class="nav-text">Services</span>
        </a>
                    <ul aria-expanded="false">
                        <li><a routerLink="/gestion_conges">All Services</a></li>
                        <li><a href="add-Services.html">Add Services</a></li>
                        <li><a href="edit-Services.html">Edit Services</a></li>
                    </ul>
                </li>

              
                <li class="nav-label">Apps</li>
                <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
          <i class="la la-users"></i>
          <span class="nav-text">Apps</span>
        </a>
                    <ul aria-expanded="false">

                        <li><a routerLink="/test">Calendar</a></li>
          
                    </ul>
                </li>
               
    </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->